@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use 'sass:math';

.bg-image1 {
      width: 100%;
      height: 100vh;
      background-image: url(./images/hero.jpg);
      background-position: center;
      background-size: cover;
      background-blend-mode:difference;
      position: relative;
      background-blend-mode: soft-light;
      background-color: rgb(96, 88, 88);

      .section {
            @extend %section;

            .wrapper {
                  @extend %wrap;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  @include mix.mobile-l-styles {
                        flex-direction: column;
                  }

                  .logo {
                      color: white;  
                      text-decoration: none;
                      font-size: 20px;

                      @include mix.mobile-l-styles {
                        width: 100%;
                        text-align: center;
                        padding-bottom: 10px;
                      }
                  }

                  nav ul {
                        list-style: none;
                        display: flex;
                        margin-bottom: 0;
                        padding-left: 0;

                        li {
                              &:not(:last-child) {
                                  margin-right: var.$gutter-base;
                              }
                        }
                        a {
                              text-decoration: none;
                              color: white;

                        }
                  }
            }
                  

           

      }
      .centered-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;

            h1 {
                  margin-bottom: math.div(var.$gutter-base, 2);
            }
            p {
                  margin-bottom: var.$gutter-base;
            }

            a {
                  background-color: blue;
                  text-decoration: none;
                  padding: 10px 30px;
                  color: white;
                  text-transform: uppercase;

                  @include mix.tablet-styles {
                        width: 100px;
                        text-align: center;
                        padding: 8px;
            
                      }

                  &:hover {
                        background-color: blueviolet;
                  }
            }
          }
}